a,
body,
div,
html,
img,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html {
  font-family: ff-spinoza-web-pro, serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1;
  background-color: #fff;
}

html,
body {
  height: 100%;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

a {
  color: #099ff3;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

a:hover {
  color: #999;
}

::selection {
  background: #f5f5f5;
}

.container {
  max-width: 27rem;
  min-height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eric-head {
  width: 100%;
  height: auto;
  display: block;
  max-width: 200px;
  margin: 0 auto 1.5rem;
  border-radius: 100%;
}

@media screen and (min-width: 0px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 150%;
  }
}
