a,
body,
div,
footer,
html,
i,
img,
li,
p,
s,
ul,
var {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

footer {
	display: block
}

body {
	line-height: 1
}

ul {
	list-style: none
}

@font-face {
	font-family: icomoon;
	src: url(/fonts/icomoon.eot);
	src: url(/fonts/icomoon.eot?#iefix) format("embedded-opentype"), url(/fonts/icomoon.svg#icomoon) format("svg"), url(/fonts/icomoon.woff) format("woff"), url(/fonts/icomoon.ttf) format("truetype")
}

[data-icon]:before {
	font-family: icomoon;
	content: attr(data-icon);
	speak: none;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

div,
footer,
li {
	position: relative
}

* {
	box-sizing: border-box
}

html {
	font-family: ff-spinoza-web-pro, serif;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body {
	background-color: #fff
}

p {
	margin-bottom: 1.5rem;
	line-height: 1.5
}

a {
	color: #099ff3;
	text-decoration: none;
	cursor: pointer
}

a:hover {
	color: #999
}

a p {
	color: #333
}

a,
a img {
	transition: all .4s ease
}

::selection {
	background: #f5f5f5
}

::-moz-selection {
	background: #f5f5f5
}

.icon-alone {
	font-size: .8em
}

body,
html {
	height: 100%
}

img {
	width: 100%;
	height: auto
}

.container {
	max-width: 27rem;
	min-height: 100%;
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center
}

#eric-head {
	display: block;
	max-width: 200px;
	margin: 0 auto 1.5rem;
	border-radius: 100%
}

footer {
	display: block;
	border-top: 1px solid #e6e6e6;
	padding-top: 1em;
	text-align: center
}

footer a {
	color: #b3b3b3
}

footer a:hover {
	color: #099ff3
}

footer li {
	display: inline;
	margin: 0 .35em;
	position: relative
}

footer .icon-alone {
	font-size: 1.2em
}

.tooltip {
	opacity: 0;
	z-index: -3;
	position: absolute;
	top: -4em;
	left: 50%;
	transform: translateX(-50%);
	width: 3em;
	height: 3em;
	padding-top: .97em;
	font-size: .6em;
	font-style: italic;
	text-transform: lowercase;
	background-color: #099ff3;
	color: #fff;
	border-radius: 100%
}

.tooltip:after {
	content: "";
	width: 0;
	height: 0;
	position: relative;
	bottom: -.75em;
	display: block;
	margin: 0 auto;
	border-right: .6em solid transparent;
	border-left: .6em solid transparent;
	border-top: .6em solid #099ff3
}

footer a:hover .tooltip {
	z-index: 2;
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-name: fadeInUp
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateX(-50%) translateY(1em)
	}
	100% {
		opacity: 1;
		transform: translateX(-50%) translateY(0)
	}
}

@media screen and (min-width:0px) {
	html {
		font-size: 110%
	}
}

@media screen and (min-width:800px) {
	html {
		font-size: 150%
	}
}
